<!-- HEADER -->
<header>
<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">

 <div class="d-flex align-items-center gap-3">

    <a class="navbar-brand mb-0" href="index.html">
        <img src="assets/logo.png" alt="Logo" style="height: 100px; width: auto;">
    </a>

    <div class="d-flex gap-3 social-icons">
        <a href="https://www.instagram.com/igumun26/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
    </div>

</div>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav gap-lg-5 text-center">

                <li class="nav-item">
                    <a href="index.html" class="nav-link nav-link-custom active-link">Home</a>
                </li>

                <li class="nav-item">
                    <a href="construction.html" class="nav-link nav-link-custom"><strong>Apply Now</strong></a>
                </li>

                <li class="nav-item">
                    <a href="construction.html" class="nav-link nav-link-custom">Committees</a>
                </li>

                <li class="nav-item">
                    <a href="construction.html" class="nav-link nav-link-custom">Our Team</a>
                </li>

                <li class="nav-item">
                    <a href="construction.html" class="nav-link nav-link-custom">Documents</a>
                </li>

            </ul>
        </div>

    </div>
</nav>
</header>